@model DoodleWebMvc.Models.PollFullModel

<h4>Created your poll: </h4>
<p>@Model.Poll.Id</p>

<p>Share this link with others to vote: </p>

@Html.ActionLink("link", "Index", "Vote", new { id = Model.Poll.Id }, new { @class = "btn btn-dark btn-lg" })




