@model DoodleWebMvc.Models.PollFullModel

<h2 style="margin-top: 1.0em;">Created poll: @Model.Poll.PollName</h2>
<h4 style="margin-top: 1.5em;">With options:</h4>

<table class="table">
    <tbody>
        @foreach (var option in Model.Options)
        {
            <tr>
                <td>
                    @option.Option
                </td>
            </tr>
        }
    </tbody>
</table>

<h4 style="margin-top: 1.0em;">Share this link with others to vote:</h4>

<input type="text" value="@Model.VotingUrl" width="600" class="form-control" />





