@model DoodleWebMvc.Models.PollFlexibleModel 

<h4>Error</h4>

<p>Unable to save your votes. Please make sure you checked <strong>at least one option</strong> and inserted your name.</p>

<a href="@Model.RedirectingUrl" class="btn btn-dark" style="margin-top: 1.5em;">Back to voting</a>


