@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h3 class="display-4">Welcome to Mari's Doodle</h3>
    <p>
        <br />
        <a asp-page="/Privacy" class="btn btn-dark">Create a poll</a>
    </p>
</div>
