@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <br />
    <h3 class="display-4">Welcome to Mari's Doodle</h3>
    <p>
        <br />
        @Html.ActionLink("Create a poll", "Index", "Poll", null, new { @class = "btn btn-dark" })
    </p>
</div>
