@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="margin-top: 5em;">
    <br />
    <h3 class="display-4">Welcome to Mari's Doodle</h3>
    <div style="margin-top: 2.5em;">
        @Html.ActionLink("Create a poll", "Index", "Poll", null, new { @class = "btn btn-dark btn-lg" })
    </div>
</div>
